@{
    Layout = "_Layout";
    Layout = "_Layout";
    var content = ViewBag.content as ContentPage;
    var subPages = ViewBag.subPages as List<ContentPage>;
    int LanguageID = (int)ViewBag.LanguageID;
    int parentCheck = 0;


    var Specs = ViewBag.Specs as List<Spec>;
    List<int> specList = Specs.Where(x => x.ParentId == 8 && x.SpecType == SpecType.list).Select(s => s.Id).ToList();
    var subSpecs = Specs.Where(x => x.ParentId == 8 && x.SpecType == SpecType.list).OrderBy(o => o.OrderNo).ToList();
    List<int> subSpecList = Specs.Where(x => (x.ParentId == 18 || x.ParentId == 23)).Select(s => s.Id).ToList();
    List<int> currSpecList = ViewBag.currSpecList as List<int>;
}
@await Component.InvokeAsync("MenuView", new { type = "SubHeader" })
<!-- ALL PROJECTS START -->

<div class="section-full  mobile-page-padding bg-white  p-t80 ">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>@subSpecs.FirstOrDefault(x => x.Id == 9).Name</p>
                <select class="form-control form-control-solid form-control-lg" onchange="updateFilter(this)" id="ddYear" name="ddYear">
                    <option value="">Yıl Seçiniz</option>
                    @foreach (var item in subSpecs.FirstOrDefault(x => x.Id == 9).SpecAttrs.Distinct().OrderByDescending(o=>o.AttrValue))
                    {
                        <option value="@item.AttrValue">@item.AttrValue</option>
                    }
                </select>

            </div>
            <div class="col-md-4">
                <p>@subSpecs.FirstOrDefault(x => x.Id == 10).Name</p>
                <select class="form-control form-control-solid form-control-lg" onchange="updateFilter(this)" id="ddPlace" name="ddPlace">
                    <option value="">Bölge Seçiniz</option>
                    @foreach (var item in subSpecs.FirstOrDefault(x => x.Id == 10).SpecAttrs.Distinct().OrderBy(o => o.AttrValue))
                    {
                        <option value="@item.AttrValue">@item.AttrValue</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <p>@subSpecs.FirstOrDefault(x => x.Id == 14).Name</p>
                <select class="form-control form-control-solid form-control-lg" onchange="updateFilter(this)" id="ddType" name="ddType">
                    <option value="">Tür Seçiniz</option>
                    @foreach (var item in subSpecs.FirstOrDefault(x => x.Id == 14).SpecAttrs.Distinct().OrderBy(o => o.AttrValue))
                    {
                        <option value="@item.AttrValue">@item.AttrValue</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div class="section-full  mobile-page-padding bg-white  p-t80 p-b80">

    <div class="container">
        <!-- TITLE START -->
        @*<div class="section-head">
                <div class="sx-separator-outer separator-center">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Our Projects</h3>
                    </div>  
                </div>
            </div>*@
        <!-- TITLE END -->
        <!-- GALLERY CONTENT START -->
        <ul class="masonry-outer mfp-gallery work-grid row clearfix list-unstyled m-b0 project-posts">
            @foreach (var item in subPages)
            {
                
                <!-- COLUMNS 1 -->
                <li class="masonry-item project-post cat-1 col-lg-4 col-md-6 col-sm-12 m-b30 @(String.Join(" ", item.SpecContentValue.Where(x => x.ContentPageId == item.Id).Select(s=>"chk_"+s.ContentValue).ToArray()))">
                    <div class="sx-box   image-hover-block">
                        <div class="sx-thum-bx">
                            <img src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@(item.ThumbImage!=null?item.ThumbImage.Link:"")" alt="@(item.ThumbImage!=null?item.ThumbImage.Alt:"")">
                        </div>
                        <div class="sx-info  p-t20 text-white">
                            <h4 class="sx-tilte"><a href="/@item.Link">@item.Name</a></h4>
                            <p class="m-b0">@Html.Raw(content.ContentShort)</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <!-- GALLERY CONTENT END -->

    </div>
</div>
<!-- WHAT WE DO END -->
<script>

        var sections = $('.project-post');
        function updateFilter(el) {
            debugger;
         //   sections.hide();
            var $container = jQuery('.masonry-outer');
            var checkedYear = $("#ddYear").val();
            var checkedPlace = $("#ddPlace").val();
            var checkedType = $("#ddType").val();
            console.log($(el).val())
            if (checkedYear == "" && checkedPlace == "" && checkedType == "") {
               // sections.show();
                $container.isotope({ filter: '*' });
            }
            else {
                $container.isotope({ filter: ".chk_"+$(el).val()});
              //  $(".chk_" + $(el).val()).show();
            }
            
          
        }
        


</script>