@{
    Layout = "_Layout";
    var content = ViewBag.content as ContentPage;
    var contents = ViewBag.contents as List<ContentPage>;
    int LanguageID = (int)ViewBag.LanguageID;
    var Specs = ViewBag.Specs as List<Spec>;
    var ProjectList = ViewBag.ProjectList as List<ProjectProduct>;
    List<int> specList = Specs.Where(x => x.ParentId == 15).Select(s => s.Id).ToList();

    string currState = (string.IsNullOrEmpty(ViewBag.currState) ? "Bayi" : ViewBag.currState) as string;
}
@await Component.InvokeAsync("MenuView", new { type = "SubHeader" })
<!-- SECTION CONTENT START -->
<div class="section-full p-tb80 inner-page-padding stick_in_parent">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7  sticky_column">
                <div class="project-detail-containt">
                    <div class="bg-white text-black">
                        <h3>@Html.Raw(content.Description)</h3>
                        @Html.Raw(content.ContentData)
                        <div class="product-block">
                            <ul>
                                @foreach (var specItem in content.SpecContentValue.Where(x => x.ContentPageId == content.Id && specList.Contains(x.SpecId)).ToList())
                                {
                                    <li>
                                        <h4 class="m-b10">@Specs.FirstOrDefault(x => x.Id == specItem.SpecId).Name</h4>
                                        <p>@specItem.ContentValue</p>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="m-b0">
                            <div class="sx-divider divider-1px  bg-black"><i class="icon-dot c-square"></i></div>
                        </div>
                        <div class="copied site-button">@(LanguageID == 1 ? "Paylaşım adresi kopyalandı." : "Share link copied.")</div><div class="copy-to-clipboard site-button" data-link='@(SessionRequest.config.BaseUrl+"/"+content.Link)'>
                            @(LanguageID == 1 ? "Bağlantıyı Paylaş" : "Share Link")<img src="/assets-site/images/share.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 ">
                <div class="project-detail-outer">

                    <div class="project-detail-pic m-b30">
                        <div class="sx-media">
                            <img src="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@(content.Picture!=null?content.Picture.Link:"")" alt="@content.Name">
                        </div>
                    </div>

                </div>
            </div>

        </div>






    </div>
</div>
<!-- SECTION CONTENT END  -->
<!-- SECTION CONTENTG START -->
<div class="section-full p-b80 inner-page-padding">
    <div class="container">

        <div class="faq-1 p-b80">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Dokümanlar</h3>
                    </div>
                </div>
            </div>
            <!-- TITLE END -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Accordion -->
                    <div class="sx-accordion acc-bg-gray" id="accordion5">
                        @if (content.Gallery != null && content.Gallery.Count > 0)
                        {
                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseThree55" class="collapsed" data-parent="#accordion5">
                                            Galeri
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree55" class="acod-body collapse">
                                    <div class="acod-content p-tb15 row">
                                        <div class=" filter-carousal-1-outer relative z-index1">
                                            <!-- TITLE END -->
                                            <div class="filter-carousal-1  container-fluid p-b30">
                                                <!-- IMAGE CAROUSEL START -->
                                                <div class="section-content ">
                                                    <div class="owl-carousel owl-carousel-filter  owl-btn-bottom-center mfp-gallery navigation-with-name">
                                                        @foreach (var item in content.Gallery)
                                                        {
                                                            <div class="item fadingcol col-one overflow-hide">
                                                                <div class="sx-box   image-hover-block">
                                                                    <div class="sx-thum-bx">
                                                                        <img src="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" alt="@item.Alt">
                                                                    </div>
                                                                    <div class="sx-info  p-t20 text-white">
                                                                        <h4 class="sx-tilte"><a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank"><i class="fa fa-search"></i> Görüntüle</a></h4>
                                                                        <p class="m-b0"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                        }

                        @if (content.Documents != null && content.Documents.Count > 0)
                        {
                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseThree5" class="collapsed" data-parent="#accordion5">
                                            Ürün Katalogları
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree5" class="acod-body collapse">


                                    <div class="acod-content p-tb15 row">
                                        @foreach (var item in content.Documents)
                                        {
                                            var exNa = "";
                                            switch (item.Link.Split('.')[1].ToLower())
                                            {
                                                case "zip":
                                                    exNa = "fa-file-zip-o";
                                                    break;
                                                case "rar":
                                                    exNa = "fa-file-zip-o";
                                                    break;
                                                case "pdf":
                                                    exNa = "fa-file-pdf-o";
                                                    break;
                                                default:
                                                    exNa = "fa-file-o";
                                                    break;
                                            }
                                            <div class="col-md-12">
                                                <div class="docCont">
                                                    <h5 class="m-b0">
                                                        @item.Name   <a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank" class="site-button-link pull-right">İNDİR</a> <i class="fa @exNa"></i>
                                                    </h5>


                                                </div>
                                            </div>

                                        }


 
                                    </div>
                                </div>
                            </div>
                        }
                        @if (SessionRequest.fUser != null)
                        {
                            @if (content.TechnicalProperties != null && content.TechnicalProperties.Count > 0)
                            {
                                <div class="panel sx-panel">
                                    <div class="acod-head">
                                        <h4 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFour5" class="collapsed" data-parent="#accordion5">
                                                Sipariş Katalogları (CAD)
                                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour5" class="acod-body collapse">
                                        <div class="acod-content p-tb15 row">
                                            @foreach (var item in content.TechnicalProperties)
                                            {
                                                var exNa = "";
                                                switch (item.Link.Split('.')[1].ToLower())
                                                {
                                                    case "zip":
                                                        exNa = "fa-file-zip-o";
                                                        break;
                                                    case "rar":
                                                        exNa = "fa-file-zip-o";
                                                        break;
                                                    case "pdf":
                                                        exNa = "fa-file-pdf-o";
                                                        break;
                                                    default:
                                                        exNa = "fa-file-o";
                                                        break;
                                                }
                                                <div class="col-md-12">
                                                    <div class="docCont">
                                                        <h5 class="m-b0">
                                                            @item.Name   <a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank" class="site-button-link pull-right">İNDİR</a> <i class="fa @exNa"></i>
                                                        </h5>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            if (SessionRequest.fUser.UserType != UserType.Mimar)
                            {
                                if (content.CadDatas != null && content.CadDatas.Count > 0)
                                {
                                    <div class="panel sx-panel">
                                        <div class="acod-head">
                                            <h4 class="acod-title">
                                                <a data-toggle="collapse" href="#collapseFour5" class="collapsed" data-parent="#accordion5">
                                                    Uygulama Katalogları (CAD)
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour5" class="acod-body collapse">
                                            <div class="acod-content p-tb15 row">
                                                @foreach (var item in content.CadDatas)
                                                {
                                                    var exNa = "";
                                                    switch (item.Link.Split('.')[1].ToLower())
                                                    {
                                                        case "zip":
                                                            exNa = "fa-file-zip-o";
                                                            break;
                                                        case "rar":
                                                            exNa = "fa-file-zip-o";
                                                            break;
                                                        case "pdf":
                                                            exNa = "fa-file-pdf-o";
                                                            break;
                                                        default:
                                                            exNa = "fa-file-o";
                                                            break;
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="docCont">
                                                            <h5 class="m-b0">
                                                                @item.Name   <a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank" class="site-button-link pull-right">İNDİR</a> <i class="fa @exNa"></i>
                                                            </h5>


                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @if (content.BIMFiles != null && content.BIMFiles.Count > 0)
                            {
                                <div class="panel sx-panel">
                                    <div class="acod-head">
                                        <h4 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFive5" class="collapsed" data-parent="#accordion5">
                                                BİM Dosyaları
                                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive5" class="acod-body collapse">
                                        <div class="acod-content p-tb15 row">
                                            @foreach (var item in content.BIMFiles)
                                            {
                                                var exNa = "";
                                                switch (item.Link.Split('.')[1].ToLower())
                                                {
                                                    case "zip":
                                                        exNa = "fa-file-zip-o";
                                                        break;
                                                    case "rar":
                                                        exNa = "fa-file-zip-o";
                                                        break;
                                                    case "pdf":
                                                        exNa = "fa-file-pdf-o";
                                                        break;
                                                    default:
                                                        exNa = "fa-file-o";
                                                        break;
                                                }
                                                <div class="col-md-12">
                                                    <div class="docCont">
                                                        <h5 class="m-b0">
                                                            @item.Name   <a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank" class="site-button-link pull-right">İNDİR</a> <i class="fa @exNa"></i>
                                                        </h5>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            if (SessionRequest.fUser.UserType != UserType.Mimar)
                            {
                                if (content.TechnicalDocuments != null && content.TechnicalDocuments.Count > 0)
                                {
                                    <div class="panel sx-panel">
                                        <div class="acod-head">
                                            <h4 class="acod-title">
                                                <a data-toggle="collapse" href="#collapseFive6" class="collapsed" data-parent="#accordion5">
                                                    Teknik Dokümanlar
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive6" class="acod-body collapse">
                                            <div class="acod-content p-tb15 row">
                                                @foreach (var item in content.TechnicalDocuments)
                                                {
                                                    var exNa = "";
                                                    switch (item.Link.Split('.')[1].ToLower())
                                                    {
                                                        case "zip":
                                                            exNa = "fa-file-zip-o";
                                                            break;
                                                        case "rar":
                                                            exNa = "fa-file-zip-o";
                                                            break;
                                                        case "pdf":
                                                            exNa = "fa-file-pdf-o";
                                                            break;
                                                        default:
                                                            exNa = "fa-file-o";
                                                            break;
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="docCont">
                                                            <h5 class="m-b0">
                                                                @item.Name   <a href="@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/@item.Link" target="_blank" class="site-button-link pull-right">İNDİR</a> <i class="fa @exNa"></i>
                                                            </h5>


                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                        else
                        {

                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            Sipariş Katalogları (CAD)
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            Uygulama Katalogları (CAD)
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            BİM Dosyaları
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="/login" data-parent="#locked">
                                            Teknik Dokümanlar
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div>
                            </div>


                        }

                    </div>
                </div>
            </div>

        </div>



        @if (content.FormType != null)
        {
            <div class="section-content">
                <!-- CONTACT FORM-->
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <form FormTypeId="@content.FormTypeId" id="myform" class="contact-form cons-contact-form bg-gray p-a30" method="post">
                            <div class="contact-one">

                                <!-- TITLE START -->
                                <div class="section-head">
                                    <div class="sx-separator-outer separator-left">
                                        <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image: url(&quot;images/background/cross-line2.png&quot;); background-position: -647px 0px;">
                                            <h3 class="sep-line-one">
                                                @Html.Raw(content.FormType.DescName)
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- TITLE END -->
                                <input name="headLine" type="hidden" required="" value="@Html.Raw(content.FormType?.Name)">
                                <div class="form-group">
                                    <input name="NameSurname" type="text" required="" class="form-control" placeholder="Ad Soyad">
                                </div>

                                <div class="form-group">
                                    <input name="Email" type="text" class="form-control" required="" placeholder="Mail">
                                </div>

                                <div class="form-group">
                                    <input name="Phone" type="text" class="form-control" required="" placeholder="Telefon">
                                </div>

                                <div class="form-group">
                                    <input name="Subject" type="text" required="" class="form-control" placeholder="Konu" value="@(content.Name+" hakkında detaylı bilgi talebi")">
                                </div>

                                <div class="form-group">
                                    <textarea name="Message" rows="4" class="form-control " required="" placeholder="Mesaj"></textarea>
                                </div>

                                <div class="text-right">

                                    <div class="text-right">
                                        <input type="checkbox" name="Custom3" required="" />&nbsp;<a class="popup-modal" href="#test-modal">Kullanım Koşullarını</a> kabul ediyorum.&nbsp;&nbsp;&nbsp;
                                        <div id="test-modal" class="white-popup mfp-hide">
                                            <h3>Kullanım Koşulları</h3>
                                            <p>KİŞİSEL VERİLERİN İŞLENMESİ VE GÜVENLİĞİ FORMU Bu dokumanı onaylayarak 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun (“Kanun”) 5. Maddesi kapsamında Şirketimize iletmiş olduğunuz kişisel verilerinizin, hizmetlerimiz hakkında bilgi vermek ve sizlerle iletişime geçmek için kullanımına açıkça rıza göstermektesiniz.</p>
                                            <p>Kişisel verileriniz kanuni düzenlemelere uygun olarak ticari teamüllerde öngörülen sürelerde işlenecektir.</p>
                                            <p>Kanun kapsamında Veri Sorumlusu Şirketimiz; CUHADAROĞLU olup Kanun’daki tüm sorumluluk ve yükümlülüklerine uymayı kabul etmektedir. Kişisel Verilerinizin, Veri Sorumlusu Şirketimizin belirleyeceği yurtiçi veya yurtdışında bulunan 3. kişilere işbu verilerin saklanması, depolanması ve açık rıza gösterilen amaçlarla işlenmesi için aktarılmasına açıkça onay vermektesiniz. Kanuni haklarınız kapsamında; dilediğiniz zaman Veri Sorumlusu Şirketimize başvurarak tarafınıza ait kişisel verilerin işlenip işlenmediğini öğrenme, işlenen kişisel verileri varsa bunlara ilişkin bilgi talep etme, kişisel verilerin işlenme amacını ve bu verilerin amaca uygun kullanılıp kullanılmadığını öğrenme, kişisel verilerinin aktarıldığı üçüncü kişileri bilme, kişisel verilerindeki hataların düzeltilmesini ve eğer aktarım yapılmışsa ilgili üçüncü kişiden bu düzeltmenin istenmesini talep etme, kişisel verilerin işlenmesini gerektiren sebeplerin ortadan kalkması halinde bu verilerin silinmesini, yok edilmesini ya da anonim hale getirilmesini isteme ve eğer aktarım yapılmışsa bu talebin aktarılan üçüncü kişiye iletilmesini isteme, işlenen verilerin neticesinde kişi ile ilintili olumsuz bir sonuç çıkmasına itiraz etme, Kanun’a aykırı veri işleme nedeniyle zararının ortaya çıkması halinde zararını yasalar çerçevesinde talep etme hakkınız mevcuttur.</p>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('.popup-modal').magnificPopup({
                                                type: 'inline',
                                                midClick: true,
                                                mainClass: 'mfp-fade'
                                            });
                                        })
                                    </script>
                                    <style>

                                        .white-popup {
                                            position: relative;
                                            background: #FFF;
                                            padding: 40px;
                                            width: auto;
                                            max-width: 500px;
                                            margin: 20px auto;
                                            transition: 1s all;
                                        }

                                        .mfp-bg {
                                        }

                                        .mfp-fade.mfp-bg {
                                            opacity: 0;
                                            -webkit-transition: all 0.15s ease-out;
                                            -moz-transition: all 0.15s ease-out;
                                            transition: all 0.15s ease-out;
                                        }


                                            /* overlay animate in */

                                            .mfp-fade.mfp-bg.mfp-ready {
                                                opacity: 0.8;
                                            }


                                            /* overlay animate out */

                                            .mfp-fade.mfp-bg.mfp-removing {
                                                opacity: 0;
                                            }

                                        .mfp-fade.mfp-wrap .mfp-content {
                                            opacity: 0;
                                            transition: all 0.4s ease-out;
                                        }

                                        .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
                                            opacity: 1;
                                        }

                                        .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
                                            opacity: 0;
                                        }
                                    </style>

                                    <button name="submit" type="submit" value="Submit" class="site-button btn-half">
                                        <span> Gönder</span>
                                    </button>
                                </div>

                            </div>
                        </form>

                    </div>



                </div>
            </div>

        }
    </div>
</div>
<!-- SECTION CONTENT END -->
@if (ProjectList != null && ProjectList.Count > 0)
{
    <div class="section-full mobile-page-padding p-b50 bg-white" id="proContent">
        <div class="section-content">
            <div class="container">
                <!-- TITLE START -->
                <div class="section-head">
                    <div class="sx-separator-outer separator-center">
                        <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
                            <h3 class="sep-line-one">@content.Name'in kullanıldığı projeler</h3>
                        </div>
                    </div>
                </div>
                <!-- TITLE END -->
            </div>

            <div class=" filter-carousal-1-outer relative z-index1">
                <!-- TITLE END -->
                <div class="filter-carousal-1  container-fluid p-b30">
                    <!-- IMAGE CAROUSEL START -->
                    <div class="section-content ">
                        <div class="owl-carousel owl-carousel-filter  owl-btn-bottom-center mfp-gallery navigation-with-name">
                            @foreach (var item in ProjectList)
                            {
                                <div class="item fadingcol col-one overflow-hide">
                                    <div class="sx-box   image-hover-block">
                                        <div class="sx-thum-bx">
                                            <img src="@(item.Project.ThumbImage != null ? "@SessionRequest.config.ImageUrl/fileupload/UserFiles/Folders/" + item.Project.ThumbImage.Link : "/assets-site/images/projects/portrait/pic1.jpg")" alt="@(item.Project.ThumbImage != null ? item.Project.ThumbImage.Alt : item.Project.Name)">
                                        </div>
                                        <div class="sx-info  p-t20 text-white">
                                            <h4 class="sx-tilte"><a href="/@item.Project.Link">@item.Project.Name</a></h4>
                                            <p class="m-b0"></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}