@{
    Layout = "_Layout";
    var content = ViewBag.content as ContentPage;
    var contents = ViewBag.contents as List<ContentPage>;
    int LanguageID = (int)ViewBag.LanguageID;
    var Specs = ViewBag.Specs as List<Spec>;
    List<int> specList = Specs.Where(x => x.ParentId == 15).Select(s => s.Id).ToList();
    var User = ViewBag.User as User;
}
@await Component.InvokeAsync("MenuView", new { type = "SubHeader" })
<!-- SECTION CONTENT START -->
<div class="section-full p-tb80 inner-page-padding stick_in_parent">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7  sticky_column">
                <div class="project-detail-containt">
                    <div class="bg-white text-black">
                        <h3>@Html.Raw(content.Description)</h3>
                        @Html.Raw(content.ContentData)
                        <div class="product-block">
                            <ul>
                                @foreach (var specItem in content.SpecContentValue.Where(x => x.ContentPageId == content.Id && specList.Contains(x.SpecId)).ToList())
                                {
                                    <li>
                                        <h4 class="m-b10">@Specs.FirstOrDefault(x => x.Id == specItem.SpecId).Name</h4>
                                        <p>@specItem.ContentValue</p>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="m-b0">
                            <div class="sx-divider divider-1px  bg-black"><i class="icon-dot c-square"></i></div>
                        </div>
                        <ul class="social-icons social-square social-darkest m-b0">
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 "> 
                <div class="project-detail-outer">
                    @foreach (var item in content.Gallery)
                    { 
                        <div class="project-detail-pic m-b30">
                            <div class="sx-media">
                                <img src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@item.Link" alt="@item.Alt">
                            </div>
                        </div>
                    } 
                </div>
            </div>

        </div>





    </div>
</div>
<!-- SECTION CONTENT END  -->
<!-- SECTION CONTENTG START -->
<div class="section-full p-t80 p-b80 inner-page-padding">
    <div class="container">

        <div class="faq-1">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Dökümanlar</h3>
                    </div>
                </div>
            </div>
            <!-- TITLE END -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Accordion -->
                    <div class="sx-accordion acc-bg-gray" id="accordion5">
                        <div class="panel sx-panel">
                            <div class="acod-head">
                                <h4 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseThree55" class="collapsed" data-parent="#accordion5">
                                        Galeri
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree55" class="acod-body collapse">
                                <div class="acod-content p-tb15">
                                    @foreach (var item in content.Gallery)
                                    {
                                    <div class="col-md-3">
                                        <img src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@item.Link" alt="@item.Alt">
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>

                        @if (User != null)
                        {
                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseThree5" class="collapsed" data-parent="#accordion5">
                                            Ürün Teknik Özellikler
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree5" class="acod-body collapse">
                                    <div class="acod-content p-tb15">
                                        

                                    </div>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseFour5" class="collapsed" data-parent="#accordion5">
                                            CAD Verileri
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour5" class="acod-body collapse">
                                    <div class="acod-content p-tb15">
                                         
                                    </div>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseFive5" class="collapsed" data-parent="#accordion5">
                                            BİM Dosyaları
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive5" class="acod-body collapse">
                                    <div class="acod-content p-tb15">
                                         
                                    </div>
                                </div>
                            </div>

                            <div class="panel sx-panel">
                                <div class="acod-head">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseFive6" class="collapsed" data-parent="#accordion5">
                                            Teknik Dökümanlar
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive6" class="acod-body collapse">
                                    <div class="acod-content p-tb15">
                                         
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            Ürün Teknik Özellikler
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div> 
                            </div>
                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            CAD Verileri
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div> 
                            </div>
                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a href="/login">
                                            BİM Dosyaları
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div> 
                            </div>
                            <div class="panel sx-panel">
                                <div class="acod-head acc-actives">
                                    <h4 class="acod-title">
                                        <a data-toggle="collapse" href="/login" data-parent="#locked">
                                            Teknik Dökümanlar
                                            <span class="indicator"><i class="fa fa-lock"></i></span>
                                        </a>
                                    </h4>
                                </div> 
                            </div>
                           

                                    }

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- SECTION CONTENT END -->